@{
    ViewData["Title"] = "Мэнеджер паролей";
}
<link rel="stylesheet" href="~/css/MainStyle.css" asp-append-version="true" />
<div class="container">
    <button id="addRecordButton" class="custom-button">Создать запись</button>
    <input type="text" id="searchInput" placeholder="Поиск..." class="input-field">
    <table>
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Пароль</th>
                <th>Дата записи</th>
            </tr>
        </thead>
        <tbody id="recordsTableBody">
        </tbody>
    </table>
</div>

<div id="recordModal">
    <div class="modal-content">
        <form id="recordForm">
            <label for="name">Сайт/электронная почта:</label>
            <br />
            <input type="text" id="name" name="name" required class="input-field">
            <br />
            <label for="password">Пароль:</label>
            <br />
            <input type="text" id="password" name="password" required minlength="8" class="input-field">
            <br />
            <label for="recordType">Тип записи:</label>
            <br />
            <input type="radio" id="website" name="recordType" value="website" checked>
            <label for="website">Website</label>
            <input type="radio" id="email" name="recordType" value="email">
            <label for="email">Email</label>
            <br />
            <span id="errors-box" class="errors-summary-box"></span>
            <br />
            <button type="submit" class="custom-button">Сохранить</button>
            <button type="button" id="cancelButton" class="custom-button">Отмена</button>
        </form>
    </div>
</div>

<script src="/js/MainScript.js"></script>