@{
    ViewData["Title"] = "Мэнеджер паролей";
}
<link rel="stylesheet" href="~/css/MainStyle.css" asp-append-version="true" />
<div class="container">
    <button id="addRecordButton">Add Record</button>
    <input type="text" id="searchInput" placeholder="Search by name...">
    <table>
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Пароль</th>
                <th>Дата записи</th>
            </tr>
        </thead>
        <tbody id="recordsTableBody">
            <!-- Records will be dynamically inserted here -->
        </tbody>
    </table>
</div>

<div id="recordModal" class="modal">
    <div class="modal-content">
        <form id="recordForm">
            <label for="name">Сайт/электронная почта:</label>
            <input type="text" id="name" name="name" required>
            <br />
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required minlength="8">
            <br />
            <label for="recordType">Тип записи:</label>
            <input type="radio" id="website" name="recordType" value="website" checked>
            <label for="website">Website</label>
            <input type="radio" id="email" name="recordType" value="email">
            <label for="email">Email</label>

            <button type="submit">Сохранить</button>
            <button type="button" id="cancelButton">Отмена</button>
        </form>
    </div>
</div>

<script src="/js/MainScript.js"></script>