body {
    background-color: #1f1f1f;
    font-family: Arial, sans-serif;
    color: #fff;
}

.nav-panel {
    background-color: #333;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.container {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: #292929;
    border-radius: 5px;
}

/*Стили таблицы*/
table {
    width: 100%;
    border-collapse: collapse;
}

table, th {
    border: 3px solid #333;
}

td {
    border-bottom: 3px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

table tbody:hover {
    cursor: pointer;
}

/*Модальное окно*/
#recordModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #292929;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}


/*Стили кнопок и ссылок*/
.link-button {
    color: #fff;
    text-decoration: none; 
    transition: color 0.3s; 
}

.link-button:hover{
    color: #888;
}

.custom-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/*Элементы форм*/

.input-field {
    color: #f2f2f2;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    margin-bottom: 10px;
}

.input-field:focus {
    outline: none;
    border-color: #555;
}

.custom-button:hover {
    background-color: #555;
}

/*------------------*/
.password-hidden {
    font-size: 0;
}

.password-hidden::after {
    content: '••••••••';
    font-size: 16px;
}

.errors-summary-box {
    color: #f44336;
}